.DS_Store
ya_disk_token.md
/.mypy_cache
/venv
/__pycache__
configuration.py
for_upload_to_yadisk.json
photos_info.json
response_info.json
.ipynb_checkpoints
for_upload_to_yadisk.json
photos_info.json
response_info.json
